{% extends '_layouts/base.njk' %}

{% block content%}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      <h3>queen</h3>
    
    </div>
    <div class="col-sm-8">
      <p>album</p>
    </div>
  </div>
</article>
{% endblock %}