{% extends '_layouts/base.njk' %}

{% block content %}
<article class="container">
  <div class="row">
    <div class="col-sm-4 left-rail">
      
    </div>
    <div class="col-sm-8">
      

    </div>
  </div>
</article>
{% endblock %}